*{
    font-family: 'Poppins', sans-serif;
}

.banner{
    background-image: url(../image/banner\ slider.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px 0;
    


}

.skills-padding{
    padding: 70px 0;
}